################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibraryOP/LibraryOP/obj
/LibraryOP/LibraryOP/bin
